<form method="POST" action="/pokemons">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" />
  </div>
  <div class="form-group">
    <label for="type">Type</label>
    <input type="text" class="form-control" name="type" />
  </div>
  <div class="form-group">
    <label for="cp">CP</label>
    <input type="text" class="form-control" name="cp"  />
  </div>
  <input class="btn btn-secondary" type="submit" value="Save" />
</form>