<h2>Show Pokemon</h2>
<div class="card bg-light mb-3" style="max-width: 100%; margin-top: 20px">
  <div class="card-header"><b>Name</b></div>
  <div class="card-body">
    <p class="card-text">{{pokemon.name}}</p>
  </div>
</div>
<div class="card bg-light mb-3" style="max-width: 100%">
  <div class="card-header"><b>Type</b></div>
  <div class="card-body">
    <p class="card-text">{{pokemon.type}}</p>
  </div>
</div>
<div class="card bg-light mb-3" style="max-width: 100%">
  <div class="card-header"><b>CP</b></div>
  <div class="card-body">
    <p class="card-text">{{pokemon.cp}}</p>
  </div>
</div>