<div class="table-responsive">
  <table class="table table-bordered table-striped" style="margin-top:2%;">
    <thead>
      <tr>
        <th colspan="2">Pokemon details</th>
      </tr>
    </thead>
    <tr>
      <td><strong>Name </strong> </td>
      <td>{{pokemon.name}}</td>
    </tr>
    <tr>
      <td><strong>Type </strong></td>
      <td>{{pokemon.type}}</td>
    </tr>
    <tr>
      <td><strong>CP </strong></td>
      <td>{{pokemon.cp}}</td>
    </tr>
  </table>
</div>