<form method="POST" action="/clocks">
  <div class="form-group">
    <label for="manufacturer">Manufacturer</label>
    <input type="text" class="form-control" name="manufacturer" />
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <input type="text" class="form-control" name="model"  />
  </div>
  <div class="form-group">
    <label for="model">Type</label>
    <input type="text" class="form-control" name="type"  />
  </div>
  <input class="btn btn-secondary" type="submit" value="Save" />
</form>