<div class="card bg-light mb-3" style="max-width: 100%; margin-top: 20px">
  <div class="card-header"><b>Manufacturer</b></div>
  <div class="card-body">
    <p class="card-text">{{clock.manufacturer}}</p>
  </div>
</div>
<div class="card bg-light mb-3" style="max-width: 100%">
  <div class="card-header"><b>Model</b></div>
  <div class="card-body">
    <p class="card-text">{{clock.model}}</p>
  </div>
</div>
<div class="card bg-light mb-3" style="max-width: 100%">
  <div class="card-header"><b>Type</b></div>
  <div class="card-body">
    <p class="card-text">{{clock.type}}</p>
  </div>
</div>