<div class="table-responsive">
  <table class="table table-bordered table-striped" style="margin-top:2%;">
    <thead>
      <tr>
        <th colspan="2">Clock details</th>
      </tr>
    </thead>
    <tr>
      <td><strong>Manufacturer </strong> </td>
      <td>{{clock.manufacturer}}</td>
    </tr>
    <tr>
      <td><strong>Model </strong></td>
      <td>{{clock.model}}</td>
    </tr>
    <tr>
      <td><strong>Type </strong></td>
      <td>{{clock.type}}</td>
    </tr>
  </table>
</div>