<h2>Edit</h2>
<form method="POST" action="/videogames/{{videogame.id}}?_method=PUT">
  <div class="form-group">
    <label for="distributor">Distributor</label>
    <input type="text" class="form-control" name="distributor" value="{{videogame.distributor}}" />
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" value="{{videogame.name}}" />
  </div>
  <div class="form-group">
    <label for="model">Type</label>
    <input type="text" class="form-control" name="type" value="{{videogame.type}}" />
  </div>
    <input type="submit" value="Frissítés" />
</form>
