<h2>Show Videogame</h2>
<div class="card bg-light mb-3" style="max-width: 100%; margin-top: 20px">
  <div class="card-header"><b>Distributor</b></div>
  <div class="card-body">
    <p class="card-text">{{videogame.distributor}}</p>
  </div>
</div>
<div class="card bg-light mb-3" style="max-width: 100%">
  <div class="card-header"><b>Name</b></div>
  <div class="card-body">
    <p class="card-text">{{videogame.name}}</p>
  </div>
</div>
<div class="card bg-light mb-3" style="max-width: 100%">
  <div class="card-header"><b>Type</b></div>
  <div class="card-body">
    <p class="card-text">{{videogame.type}}</p>
  </div>
</div>
