<div class="table-responsive">
  <table class="table table-bordered table-striped" style="margin-top:2%;">
    <thead>
      <tr>
        <th colspan="2">Videogame details</th>
      </tr>
    </thead>
    <tr>
      <td><strong>Distributor </strong> </td>
      <td>{{videogames.distributor}}</td>
    </tr>
    <tr>
      <td><strong>Name</strong></td>
      <td>{{videogames.name}}</td>
    </tr>
    <tr>
      <td><strong>Type </strong></td>
      <td>{{videogames.type}}</td>
    </tr>
  </table>
</div>

